pandas
numpy
scipy
scikit-learn==1.7.0
matplotlib
seaborn

biopython
requests

flask
fastapi
uvicorn

gunicorn  # para producción con Flask/FastAPI
python-dotenv  # manejo de variables de entorno

lightgbm
python-multipart

jupyter  # para notebooks
